<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <!--<add name="TestResultsManagerEntities" connectionString="metadata=res://*/TestResultsManager.csdl|res://*/TestResultsManager.ssdl|res://*/TestResultsManager.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MAKV0170;initial catalog=TestResultsManagerV2;user id=sa;password=Password1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="TestResultsManagerEntities" connectionString="metadata=res://*/TestResultsManager.csdl|res://*/TestResultsManager.ssdl|res://*/TestResultsManager.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MAKV0170;initial catalog=TestResultsManager_UAT;user id=sa;password=Password1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>