<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <connectionStrings>
    <add name="StormWeb" connectionString="Server=MAKAPT673VS;Database=TRMP_CP_Test;User Id=sa;Password=Password1;" />
  </connectionStrings>
  <appSettings>
    <add key="PlotterFolder" value="Plotter_TRMP"/>
    <add key="BaseFolder" value="makatiprojects"/>
    <add key="GoogleSheet" value=""/>
    <add key="EmailRecipients" value="nikkapaolasalgado@deltek.com"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
