table.TblStyle1 {
    border-style: hidden;
    border-collapse: separate;
    margin: 10px;
}

    table.TblStyle1 td, tr, th {
        border-style: hidden;
        text-align: left;
        empty-cells: show;
        font-family: Arial;
        font-size: 12px;
        word-wrap: normal;
        vertical-align: text-top;
        padding: 6px;
        white-space: normal;
    }

table.TblStyle2 {
    border-style: solid;
    border-collapse: collapse;
    border-width: 1px;
    border-color: black;
}

    table.TblStyle2 td, tr, th {
        border-style: solid;
        border-color: black;
        border-width: 1px;
        text-align: left;
        empty-cells: show;
        font-family: Arial;
        font-size: 12px;
        word-wrap: normal;
        vertical-align: text-top;
        padding: 6px;
        white-space: normal;
    }

th {
    color: white;
    background-color: black;
    border-color: black;
}


#header {
    font-family: Arial;
    width: 100%;
    height:20px;
    padding: 6px;
}

#footer {
    font-family: Arial;
    width: 100%;
    height: 40px;
    padding: 6px;
    background-color: white;
    text-align: center;
}
#body{
    font-family: Arial;
    font-size: small;
    
}

h1{
    font-family: Arial;
    font-size: 20px;
}

h2{
    font-family: Arial;
    font-size: 15px;
}

.fltlftHdr {  
	float: left;
    text-align: left;
    padding: 0;
}

.fltrtHdr {  
	float: right;
	margin-left: 8px;
    margin-right: 20px;
}

.textbox1{
    width:40px;
}

.textbox2{
    max-width:250px;
}